body{
	background-image: url('http://4.bp.blogspot.com/_8UZGPwu1_as/TU7eDxkseCI/AAAAAAAAALo/yhYhZsvwFyI/s1600/343434324.jpg');
	background-width: 100vw;
	background-height: 100vh;
	background-repeat: repeat;
	font-family: Tahoma, Geneva, sans-serif;
}
.title{
	color: white;
}
.subtitle{
	color: rgba(255,255,255,0.5);
}
.subref{
	color: rgba(255,255,255,0.5);
}
.wkey{
	background-color:rgba(2555,255,255,1);
	border-color: black;
	border-radius: 0.1em;
	height: 8em;
	width: 3em;
}
.bkey{
	background-color:rgba(0,0,0,1);
	border-color: black;
	border-radius: 0.1em;
	color: white;
	height: 8em;
	width:2.5em;
}