body{
	background-image: url('http://4.bp.blogspot.com/_8UZGPwu1_as/TU7eDxkseCI/AAAAAAAAALo/yhYhZsvwFyI/s1600/343434324.jpg');
	background-size: cover;
	background-repeat: repeat;
	font-family: Tahoma, Geneva, sans-serif;
}
.title{
	color: rgba(255,255,255,0.7);
}
.subtitle{
	color: rgba(255,255,255,0.5);
}
.subref{
	color: rgba(255,255,255,0.5);
}
.wkey{
	background: url('http://rlv.zcache.com/vintage_ivory_grunge_parchment_paper_background_poster-rd32de63943f34704887090cda8ec5995_wvg_8byvr_324.jpg') no-repeat center center fixed;
	background-size: cover;
	border-color: black;
	border-radius: 0.1em;
	height: 25em;
	width: 4em;
}
.bkey{
	background: url('http://hd.wallpaperswide.com/thumbs/black_background_leather-t2.jpg') no-repeat center center fixed;
	background-size: cover;
	border-color: black;
	border-radius: 0.1em;
	color: white;
	height: 25em;
	width:3em;
}
#message{
	color: rgba(255,255,255,0.5);
}